---
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Team from '~/assets/images/nosotros.jpg';


const metadata = {
  title: 'Sobre Nosotros - PPM Servicios',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
  <!-- Hero Section -->
  <Hero
    id="quienes-somos"
    tagline="Azkar Estudio"
    image={{
      src: Team,
      alt: 'Equipo de Azkar Estudio',
    }}
  >
    <!--<Fragment slot="title">
      <span class="text-[var(--aw-color-text-default)] dark:text-[var(--aw-color-text-default)]">隆Cuidado capilar con excelencia!</span>
      <span class="text-[var(--aw-color-accent)]">Transforma tu cabello con nosotros</span>
    </Fragment>--->

    <!-- <Fragment slot="subtitle">
      <span class="text-[var(--aw-color-text-default)] dark:text-[var(--aw-color-text-default)]">
        Somos un equipo apasionado por el cuidado capilar, comprometidos en ofrecer productos y servicios que respeten la salud de tu cabello y potencien su belleza. Creemos en la importancia de utilizar f贸rmulas innovadoras que brinden resultados efectivos sin comprometer el bienestar.
      </span>

      <span class="text-[var(--aw-color-text-default)] dark:text-[var(--aw-color-text-default)]">
        En nuestro estudio de alisados org谩nicos, libres de formol y parabenos, ofrecemos tratamientos dise帽ados para lograr un cabello m谩s manejable, sedoso y radiante. Priorizamos el uso de soluciones seguras, garantizando una experiencia que une est茅tica y salud capilar, sin recurrir a qu铆micos agresivos.
      </span>
    </Fragment>---->
  </Hero>

  <!-- 驴Qui茅nes Somos? Section -->
  <Features2
    title="驴Qui茅nes Somos?"
    subtitle="Somos un equipo apasionado por el cuidado capilar, comprometidos en ofrecer productos y servicios que respeten la salud de tu cabello y potencien su belleza. Creemos en la importancia de utilizar f贸rmulas innovadoras que brinden resultados efectivos sin comprometer el bienestar. En nuestro estudio de alisados org谩nicos, libres de formol y parabenos, ofrecemos tratamientos dise帽ados para lograr un cabello m谩s manejable, sedoso y radiante. Priorizamos el uso de soluciones seguras, garantizando una experiencia que une est茅tica y salud capilar, sin recurrir a qu铆micos agresivos."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[var(--aw-color-bg-page)] dark:bg-[var(--aw-color-bg-page-dark)]"></div>
    </Fragment>
  </Features2>

  <!-- Visi贸n y Misi贸n Section 
  <section id="vision-mision" class="my-10">
    <h2 class="text-2xl font-bold text-center text-[var(--aw-color-accent)]">Visi贸n y Misi贸n</h2>
    <div class="mt-6">
      <Steps2
        image={visionmision}
        items={[
          {
            title: 'Visi贸n',
            description:
              'Ser referentes en el cuidado capilar org谩nico, ofreciendo formaci贸n y tratamientos innovadores que respeten la salud del cabello.',
          },
          {
            title: 'Misi贸n',
            description:
              'Brindar educaci贸n y tratamientos capilares especializados, asegurando resultados efectivos sin comprometer la salud capilar.',
          },
        ]}
      />
    </div>
  </section>-->

  <!-- Ubicaci贸n Section 
  <section id="ubicacion" class="my-10">
    <h2 class="text-2xl font-bold text-center text-[var(--aw-color-accent)]">驴D贸nde estamos?</h2>
    <div class="mt-6">
      <Steps3
        image={Location}
        items={[
          {
            title: 'Estudio Principal',
            description:
              ' Ubicado en un espacio exclusivo donde ofrecemos nuestros tratamientos y capacitaciones.',
          },
          {
            title: 'Cursos Online',
            description:
              ' Accede a nuestra formaci贸n desde cualquier lugar con nuestros cursos en l铆nea.',
          },
        ]}
      />
    </div>
  </section>-->
</Layout>
